.page-container {
    width: 100%;

    :global {
        .ant-page-header {
            padding: 0;

            .ant-page-header-footer {
                margin-block-start: 0;
                padding: 0;
            }
        }
    }
}

.category-tag-basic {
    border-color: #91d5ff;
    background: #e6f7ff;
    color: #1890ff;
}

.category-tag-advanced {
    border-color: #d3adf7;
    background: #f9f0ff;
    color: #722ed1;
}

.category-tag-business {
    border-color: #ffd591;
    background: #fff7e6;
    color: #fa8c16;
}
